
body {
	height: auto;
}

.nav ul {
	list-style: none;
	
}

.nav ul li {
	display: inline;
	margin-right:20px;
	border: hidden;
}

.nav ul li button {
	border: none;
}

.nav ul {
	float: right;
}
 

.center {
	text-align: center;
	margin-top: 14%; 
}

.nav a {
	text-decoration: none;
	color: #000;
}

.nav button {
	background: #4d90fe;
	padding: 7px;
	font-size: 13px;
	color: #fff;
}

.nav button{
	border-radius: 3px;
	font-weight: bold;
	box-shadow: currentColor;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn {
	margin-top: 30px;

}
#mic {
	height:20px;
	position:relative;
	top:5px;
	left: -40px;
}


.langs {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.langs a {
	margin-right: 10px;
	text-decoration: none;

}

.langs label {
	margin-right: 10px;
}


.btn button {
	margin-right: 10px;
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
   border-radius:4px;
   outline:none;
}

.btn :hover {
	border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}


hr {
	opacity: 0.2;
}


.center {
	text-align: center;
	margin-top: 14%; 
}


.searchbar{
  border-radius: 50px;
  height:40px;
  width:500px;
  font-size:16px;
  outline: none;
  border: 1px solid #dcdcdc;
  
  
}

.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

footer {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 20px;
    width: 100%;
}


footer {
	height: 50px;
}




footer p {
    background: rgb(248, 248, 248);
    color: rgb(131, 128, 128);
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
	padding: 0.5rem 2rem;
	margin: 0;
    
}

footer .nav-links {
    background: rgb(248, 248, 248);
    display: flex;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

footer .nav-links a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    margin-right: 1rem;
}

footer .nav-links a:hover {
    text-decoration: underline;
}

footer .nav-links .right {
    margin-left: auto;
}
